body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
    padding: 40px;
}

h2 {
    margin-bottom: 20px;
}

form {
    background: #fff;
    padding: 20px;
    width: 280px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #ccc;
}

label {
    display: block;
    margin-top: 10px;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 4px;
    border: 1px solid #aaa;
}

button {
    margin-top: 15px;
    width: 100%;
    padding: 10px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background: #005fcc;
}

#mensagem {
    font-size: 16px;
    margin-top: 20px;
    font-weight: bold;
}

#error {
    color: red;
    margin-top: 10px;
}
#success {
    color: green;
    margin-top: 10px;
}